
input.id#note-has-title.form-control(type='text' placeholder='Title' value=`${note.id}` hidden)

script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.js")                  
script(src='js/deleteNote.js')